p, dd {
	text-align: justify;
}

table.booktabs {
	width: max-content;
	margin: 12px auto;
	border: none;
	margin-left: auto;
	margin-right: auto;
}

th.booktabs {
	background-color: transparent;
	border: none;
	border-top: 2px solid;
	border-bottom: 1px solid;
	padding-left: 1.5em;
}

/* See https://www.jimmybonney.com/articles/column_header_rotation_css/. */
th.booktabs-rotate {
	background-color: transparent;
	border: none;
	border-top: 2px solid;
	border-bottom: 1px solid;
	padding-left: 1.5em;

	height: 160px;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
	position: relative;
	vertical-align: bottom;
	padding: 0;
	font-size: 12px;
	line-height: 0.8;
}

th.booktabs-rotate > div {
	position: relative;
	top: 0px;
	left: 80px; /* 160 * tan(45) / 2 = 80, where 160 is height on cell and 45 is transform angle. */
	height: 100%;
	transform: skew(-45deg,0deg);
	overflow: hidden;
	border-right: 1px solid;
}

th.booktabs-rotate > div > span {
	transform: skew(45deg,0deg) rotate(315deg);
	position: absolute;
	bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin. */
	left: 0px; /* Looked good; probably a mathematical link here as well. */
	display: inline-block;
	// width: 100%;
	width: 85px; /* 80 / cos(45) - 40 cos (45) = 85, where 80 is height of the cell, 40 is width of the cell, and 45 the transform angle. */
	text-align: left;
	white-space: nowrap;
}

th:first-child.booktabs {
	background-color: transparent;
	border: none;
	border-top: 2px solid;
	border-bottom: 1px solid;
}

td.booktabs {
	background-color: transparent;
	border: none;
	padding-left: 1.5em;
}

td:first-child.booktabs {
	background-color: transparent;
	border: none;
}

tr.booktabs {
	background-color: transparent;
	border: none;
}

tr.booktabs-bottom {
	border-bottom: 2px solid;
}

ul.checklist {
        list-style: none;
        margin-left: 1em;
        text-indent: -1em;
}

.checklist li:before {
        content: '□ ';
}

.checklist li.ungraded:before {
        content: '◉ ';
}

.checklist li.done:before {
        content: '✓ ';
}

.checklist li.failed:before {
        content: '✕ ';
}
