/* Revert to standard definitions. */
.ltx-title {
}

/* Mimic flyn.org table layout when using booktabs. */

table.ltx_guessed_headers {
	width: max-content;
	margin: 12px auto;
	border: none;
	margin-left: auto;
	margin-right: auto;
}

th.ltx_th {
	color: #000000;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid black;
	padding-left: 1.5em;
}

td.ltx_border_bb {
	border-bottom: 2px solid black;
}

th.ltx_border_tt {
	border-top: 2px solid black;
}
